<div id="content">
  {{{ body }}}
  {{> footer }}
</div>

<style>
  #content {font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 1.6rem; color:#222; max-width: 600px; padding: 1.4rem;}
</style>
